<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <img
        src="assets\Login_Voluntary.png"
        alt="Logo Voluntary"
        style="height: 75%"
      />
    </div>
    <div class="col col-md-6 form">
      <form>
        <h3>Login</h3>
        <div class="form-group">
          <label for="cpf_label">CPF</label>
          <input
            type="text"
            class="form-control"
            id="cpf"
            placeholder="CPF"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-group">
          <label for="senha_label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            placeholder="Senha"
          />
        </div>
        <button
          style="border-radius: 18px"
          type="submit"
          class="btn btn-primary btn-lg"
        >
          Entrar
        </button>
        &nbsp;
        <button
          style="border-radius: 18px"
          type="button"
          class="btn btn-light btn-lg"
        >
          Limpar
        </button>
      </form>
    </div>
  </div>
</div>
